<!--
  Binding Ctrl => Vue
-->
<h1 [innerText]="title"></h1>

<!--
  Binding Vue => Controller
-->
<button (click)="sayHello('Corentin')">Click</button>

<!--
  Boucle sur collection de données
-->
<ul>
  <li *ngFor="let item of dataCollection">
    <ul>
      <li>{{ item.employee_name }}</li>
      <!-- Affichage conditionnel -->
      <li *ngIf="item.employee_salary === '0'">Chomage</li>
      <!-- Manipuler les classes css -->
      <li [ngClass]="{'highSalary': item.employee_salary > 2000}">
        {{item.employee_age}}
      </li>
    </ul>
  </li>
</ul>
